.technologies{
    margin-bottom: 20rem;
}
.content {
    margin: auto;
    max-width: 85rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text {
  margin-top: 3rem;
  max-width: 85rem;
}
.text > span {
  color: var(--color-accent);
}
.iconList{
    max-width: 70rem;
    margin: 5rem 0 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
}
.iconListItem{
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconListItem > svg{
    width: 50px;
    height: 50px;
    max-height: 5rem;
}
.iconListItem > span{
    margin-top: 0.9rem;
    color: var(--color-body) ;
    font-size: 1.6rem;
    text-wrap: nowrap;
}
@media screen and (min-width: 600px) {
    .iconList{
        justify-content: start;
    }
}