.btn {
  --padding-large: 2rem 2.8rem 1.8rem;
  --padding-small: 1.5rem 1.7rem 1.2rem;
  background: none;
  padding: var(--padding-large);
  position: relative;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  color: var(--color-accent);
  font-family: "JetBrains Mono";
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: transform 0.3s ease;
  z-index: -1;
}

.btn:hover::before {
  transform: scaleX(1);
}
.btn:active::before{
  background-color: var(--color-accent-dark);
}
