body {
  overflow: hidden;
}
.loadScreen {
  width: 100vw;
  height: 100vh;
  z-index: 7;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  transition: all 1s ease;
}
.logo {
  width: 60px;
  fill: var(--color-accent);
}

.spin {
  animation: spin 0.7s linear infinite;
}

.spinSlowdown {
  animation: spin-slowdown 1s ease-out;
}

.moveUp {
  transform: translateY(-100%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-slowdown {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
