
.loadScreen {
  width: 100vw;
  height: 100vh;
  z-index: 7;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  transition: all 1s ease;
}
.logo {
  width: 80px;
}
.moveUp {
  transform: translateY(-100%);
}