.contactPage{
}
.header{
    margin: auto;
    max-width: 300px;
    margin-bottom: 2.4rem;
}
.contactDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    margin: 2rem 0 4rem;
    font-size: 1.4rem;
}
.text > span{
    color: var(--color-accent);
}
.imgWrapper{
    position: relative;
}

.img{
    position: absolute;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
.appear{
    opacity: 1;
}