.box{
    position: fixed;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.icon{
    width: 23px;
    height: 23px;
    fill: var(--color-secondary);
    transition: all 0.2s ease;
}
.icon:hover{
    transform: translateY(-3px);
    fill: var(--color-accent);
}