.header {
  width: 100%;
  height: 100px;
  padding: 25px;
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
  overflow: hidden;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.header.visible{
  height: 71px;
  background: rgba(53, 53, 53, 0.07);
}

.header.moveUp{
  transform: translateY(-71px);
}
.logoWrapper{
  align-self: center;
}
.Logo {
  width: 40px;
  height: 40px;
  fill: var(--color-accent);
}
.Logo:hover{
  fill: var(--color-accent-dark);
}
.anchor {
  color: var(--color-body);
}
.anchor:hover {
  color: var(--color-accent);
  cursor: pointer;
}

/* Navigation list */
.nav {
  width: 100%;
  display: grid;
  grid-template-areas:
    "logo icon"
    "navlist navlist";
  justify-content: space-between;
}
.navList {
  font-family: "JetBrains";
  font-size: 1.3rem;
  grid-area: navlist;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  margin-top: 30px;
  opacity: 0;
}
.navListItem {
  margin-right: 4rem;
  margin-bottom: 2.3rem;
}
.navListItem > img {
  align-self: center;
  padding-bottom: 2px;
  margin-right: 8px;
}


/* Collapsible */
.header.collapsed {
  height: 270px;
}
.navList.collapsed {
  opacity: 1;
}

.collapsibleIcon {
  justify-self: end;
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  grid-area: icon;
}

@media screen and (min-width: 769px) {
  .header {
    padding: 0 50px 0 40px;
  }
  .nav {
    grid-template-areas: "logo navlist";
  }
  .navList {
    grid-area: navlist;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    opacity: 1;
  }
  .navListItem {
    margin: 0 3rem 0 0;
  }
  .collapsibleIcon {
    display: none;
  }
}
