.project {
  margin: auto;
  max-width: 900px;
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
}
/* Main img */
.projectImg {
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}
.imgContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 12px 10px #03030d;
  cursor: pointer;
}
/* Image Curtain */
.imgContainer > picture::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--color-curtain);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: scale(1);
  transform-origin: 0 0;
  transition: all 0.5s ease;
}

.imgContainer > picture::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color:var(--color-curtain);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(1);
  transform-origin: 0 0;
  transition: all 1s ease;
}

/* Detail Section */
.projectTitle{
  cursor: pointer;
}

.projectDetails {
  z-index: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2vw ;
}
.projectDetails h3 {
  text-wrap: nowrap;
  transition: all 0.1s ease;
}
.projectDetails h3:hover {
  color: var(--color-accent-dark);
}

.projectDetails p {
  text-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-body);
}
.iconList {
  display: flex;
  gap: 20px;
}
.iconListItem > svg {
  width: 33px;
  height: 33px;
}

.descriptionCard {
  width: 400px;
  border-radius: 5px;
  padding: 2rem;
  background: rgba(27, 254, 244, 10%);
  box-shadow: 5px 12px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(62px);
  -webkit-backdrop-filter: blur(62px);
}

/* Desktop Behaviour */
@media screen and (min-width: 1024px) {
  .imgContainer > picture::after{
    backdrop-filter: grayscale(90%) contrast(1) brightness(100%);
    mix-blend-mode: multiply;
  }
  .imgContainer > picture:hover::before {
    opacity: 0;
  }
  .imgContainer > picture:hover::after {
    opacity: 0;
  }
  
}

/* Upto Tablets */
@media screen and (max-width: 1024px) {
  .imgContainer > picture::before {
    width: 0;
  }
  .imgContainer > picture::after {
    width: 100%;
    background: rgba(8, 32, 50, 76%);
  }
  .projectDetails {
    width: 60%;
    position: absolute;
  }
}

/* Upto Mini Tablets */
@media screen and (max-width: 768px) {
  .projectDetails {
    width: 80%;
  }
}

/* Phones */
@media screen and (max-width: 500px) {
    .descriptionCard{
      width: 270px;
    }
}