.projectGrid {
  margin: auto;
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
}

.gitIcon {
  width: 25px;
  height: 25px;
  fill: var(--color-accent);
}

.gitIcon:hover {
  fill: var(--color-accent-dark);
}

.projectTitle {
  cursor: pointer;
}

.projectDetails {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2vw;
}
.projectTitle {
  text-wrap: nowrap;
  transition: all 0.1s ease;
}
.projectTitle:hover {
  color: var(--color-accent-dark);
}

.projectDescription {
  text-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  color: var(--color-body);
}
.projectLinks {
  color: var(--color-accent);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.projectLinks > svg {
  width: 22px;
  height: 22px;
}
.projectLinks > svg:hover {
  color: var(--color-accent-dark);
  cursor: pointer;
}

.iconList {
  display: flex;
  gap: 20px;
}
.iconListItem > svg {
  width: 33px;
  height: 33px;
  transition: all 2s ease;
}

.descriptionCard {
  width: 400px;
  border-radius: 5px;
  padding: 2rem;
  background: rgba(27, 254, 244, 10%);
  box-shadow: 5px 12px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(62px);
  -webkit-backdrop-filter: blur(62px);
}

@media screen and (min-width: 768px) {
  .projectHeader {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .projectGrid{
    width: 900px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    
  }
  .projectDetails{
    position: relative;
    right: 30px
  }
}

@media screen and (max-width: 768px) {
  .projectDetails {
    width: 80%;
  }
  .projectHeader {
    flex-direction: row;
    justify-content: space-between;
  }

}

/* Phones */
@media screen and (max-width: 500px) {
  .descriptionCard {
    width: 270px;
  }
}
