.box{
    display: flex;
    flex-direction: column;
    position:fixed;
}
.email > svg{
    width: 20px;
    height: 190px;
    fill: var(--color-body);
    transition: all 0.2s ease;
}
.email > svg:hover{
    fill: var(--color-accent);
    transform: translateY(-3px);
}
.line{
    height: 20vh;
    margin-top: 4rem;
    align-self: center;
    border-right: 1px solid var(--color-secondary);
}