.box{
    position:fixed;
}
.email > svg{
    width: 20px;
    height: 190px;
    fill: var(--color-body);
    transition: all 0.2s ease;
}
.email > svg:hover{
    fill: var(--color-accent);
    transform: translateY(-3px);
}