:root {
  --color-primary: #07081F;
  --color-secondary: #8892b0;
  --color-accent: #1bfef4;
  --color-headings: #e6f1ff;
  --color-body: #a8b2d1;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins";
  background-color: var(--color-primary);
}
a {
  text-decoration: none;
  color: var(--color-secondary);
}
h1 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 7rem;
  margin: 0;
  color: var(--color-headings);
}
h2 {
  font-family: "JetBrains";
  color: var(--color-accent);
}
p{
  margin: 0;
}
@font-face {
  font-family: "JetBrains";
  src: url("./assets/fonts/jetbrainsmono-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/jetbrainsmono-regular-webfont.woff") format("woff");
}
li{
  list-style: none;
}