:root{
  --color-primary: #06071C;
  --color-secondary: #8892B0;
  --color-accent: #1BFEF4;
  --color-headings: #E6F1FF;
  --color-body:#A8B2D1;
}
*,*::after,*::before{
  box-sizing: border-box;
}
/* body */
body{
  font-family: "Poppins";
  background-color: var(--color-primary);
}
h1{
  font-family: 'Inter';
  font-weight: bold;
  color: var(--color-headings);
}
h2{
  font-family: 'JetBrains';
  color: var(--color-accent);
}
@font-face {
  font-family: 'JetBrains';
  src: url('./assets/fonts/jetbrainsmono-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/jetbrainsmono-regular-webfont.woff') format('woff');
}


