.aboutMe {
  transition: transform 1s ease-in;
}
.aboutMe.move{
    /* transform: translate3d(0, -617px, 0); */
}

/* Article  */
.content {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.paragraph {
  max-width: 51ch;
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
}
.paragraph > span{
  color: var(--color-accent);
}
.imgContainer {
    width: fit-content;
    height: fit-content;
    position: relative;
}
.imgContainer > picture::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease;
  transform-origin: 0 0;
}
.imgContainer > picture::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: grayscale(100%) contrast(1.1);
  mix-blend-mode: multiply;
  transition: all 0.3s ease;
}

.profileImg {
    object-fit: cover;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
}

/* Work Experience */
.workExperience{
  max-width: 380px;
  margin: auto;
  display: flex;
  font-size: 1.5rem;
}
.workExperience > img{
  margin-top: 0.7rem;
  align-self: start;
}
.workExperienceDetails{
  font-family: Inter;
  margin-left: 2rem;
}
.role{
  color: var(--color-body);
  font-weight: bold;
}
.company{
  color: var(--color-accent);
  font-weight: bold;
}
.duration{
  display: block;
  margin: 1rem 0 ;
  font-family: SFMono;
  font-size: 1.3rem;
  color: var(--color-secondary);
}
.imgContainer > picture:hover::before{
  transform: scaleX(0);
}
.imgContainer > picture:hover::after{
  transform: scaleX(0);
}

@media screen and (min-width: 1024px) {
  .content {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
 
}
