.aboutMe {
  transition: transform 1s ease-in;
  padding-bottom: 2rem;
}

/* Article  */
.content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 4rem;
}

.paragraph {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
}
.paragraph > span {
  color: var(--color-accent);
}
.imgContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
  justify-self: center;
}
.imgContainer > picture::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease;
  transform-origin: 0 0;
}
.imgContainer > picture::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: grayscale(100%) contrast(1.1);
  mix-blend-mode: multiply;
  transition: all 0.8s ease;
}

.profileImg {
  object-fit: cover;
  width: 100%;
  min-width: 200px;
  max-width: 250px;
}

/* Work Experience */
.workExperience {
  max-width: 380px;
  margin: auto;
  display: flex;
  font-size: 1.5rem;
}
.workExperience > img {
  margin-top: 0.7rem;
  align-self: start;
}
.workExperienceDetails {
  font-family: Inter;
  margin-left: 2rem;
}
.role {
  color: var(--color-body);
  font-weight: bold;
}
.company {
  color: var(--color-accent);
  font-weight: bold;
}
.duration {
  display: block;
  margin: 1rem 0;
  font-family: SFMono;
  font-size: 1.3rem;
  color: var(--color-secondary);
}
.imgContainer > picture:hover::before {
  opacity: 0;
}
.imgContainer > picture:hover::after {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: 1.7fr 1fr;
    gap: 4rem;
  }
}
